@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --container-padding: 1rem;
  --transition-time: all 0.2s;

  --color-grey100: #F3F6FF;
  --color-grey200: #EFF2FC;
  --color-grey300: #E2E5F1;
  --color-grey400: #D4D7E5;
  --color-grey500: #B4B7C9;
  --color-grey600: #9397AD;
  --color-grey700: #565973;
  --color-grey800: #33354D;
  --color-grey900: #0B0F19;
  --color-primary: #6366F1;
  --color-gradient: #6366F1 #8B5CF6 #D946EF;
  --color-error: #EF4444;
  --color-success: #22C55E;
  --color-warning: #FFBA08;
  --color-info: #4C82F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;  
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-grey600);
  text-decoration: underline;
}

/* sign up/ in button*/
.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-grey100);
  border-radius: 8px;
  padding: 12px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: var(--color-grey600);
  color: var(--color-grey100);
  text-decoration: none;
}

.btn-primary i {
  margin-right: 1rem;
}

.btn-mobile {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

/*dark mode toggle button*/
.btn-toggle-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-toggle-switch .label {
  display: none;
}

.toggle-switch  {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.btn-toggle-switch input {
  opacity: 0;
}

.toggle-switch input:checked + .slider {
  background-color: var(--color-primary);
}

.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-primary);
}

.toggle-switch input:checked + .slider:before{
  transform: translateX(18px);
  background-color: var(--color-grey100);
}

.toggle-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-grey600);
  transition: all 0.2s;
}

.toggle-switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.5px;
  background-color: var(--color-grey100);
  transition: all 0.2s;
}

.toggle-switch .slider.round {
  border-radius: 35px;
}

.toggle-switch .slider.round:before {
  border-radius: 50%;
}

/*navigation bar to not be shown in mobile mode*/
.navbar {
  display: none;
}

/*navigation bar*/
.nav-link{
  color: var(--color-grey900);
  font-weight: 600;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.active {
  color: var(--color-primary);
  text-decoration: underline;
}

/*sign in button to not be shown in mobile mode*/
#auth-signin {
  display: none;
}

header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.first-page{
  background-color: var(--color-grey100)
};



.headline {
  /* @@@@@@@@@@@@@ EDIT TEXT SIZE @@@@@@@@@@@@@@@@ */
  color: #130122;
}

.headline-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-bottom {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  /* @@@@@@@@@@@@@ EDIT TEXT SIZE @@@@@@@@@@@@@@@@ */
  color: #585C7B;
}

.main-description1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-description2 {
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#appstore {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

#googleplay {
  display: flex;
  justify-content: center;
  align-items: center;
}

#twophones {
  display: none;
}

#downloadapp {
  display: none;
}

/*footer*/
footer {
  font-size: 14px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  color: var(--color-grey600);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}


/*changes for tablet mode*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .btn-toggle-switch .label {
    display: block;
  }

  header .container {
    gap: 4.5rem;
  }

  
  footer .container {
    flex-direction: row;
    gap: 5px;
    padding-bottom: 1.5rem;
  }
}

/* changes for desktop mode */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  
  header .container {
    grid-template-columns: auto 1fr auto auto;
    gap: 3rem;
  }

  .navbar {
    display: block;
  }

  #auth-signin {
    display: block;
  }

  .btn-mobile {
    display: none;
  }

  footer .container {
    padding-bottom: 2.5rem;
  }
}